<h1>Experience</h1>
<h2>Java Full Stack Developer at GenSpark</h2>
<h3>Mar 2023-Present</h3>
<div>
    <ul>
        <li>Completed all Java assignments and projects using - Loops, Arrays, Collections, Classes, OOP, Exceptions, IO Files, Functional Programming, and TDD.</li>
        <li>Leveraged sound coding practices by implementing small manageable testable methods, good descriptive commenting, and using version control.</li>
        <li>Implemented Test Driven Development while learning Unit Testing with JUnit and Java.</li>
        <li>Practiced the Agile Methodology throughout the Training Program.</li>
        <li>Built several individual projects such as Humans vs Goblins using Java and applying Java concepts.</li>
        <li>Created backend applications with Java, Spring Boot, Hibernate, MySQL and Postman.</li>
        <li>Studied the fundamentals of Web Development using HTML, CSS, TypeScript and Angular.</li>
        <li>Built several full stack projects using Java, Spring Boot, Hibernate, MySQL, and Angular.</li>
        <li>Completed an AWS Module to learn the fundamentals of Containers, EC2, S3, Lambda, Cloud Watch, Storage and Security.</li>
        <li>Underwent intense testing during and after the training using an AI proctored assessment tool.</li>
    </ul>
</div>