<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>
<body style="text-align: center">
    <h1>Skills</h1>
    <ul style="font-size: 5rem;">
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-github-original colored"></i>
        <br>
        <i class="devicon-intellij-plain colored"></i>
        <i class="devicon-java-plain colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-mongodb-plain colored"></i>
        <br>
        <i class="devicon-nodejs-plain colored"></i>
        <i class="devicon-react-original colored"></i>
        <i class="devicon-spring-plain colored"></i>
        <i class="devicon-typescript-plain colored"></i>
        <br>
        <i class="devicon-vscode-plain colored"></i>
    </ul>
</body>

