/* You can add global styles to this file, and also import other style files */
.back {
    height: 100%;
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}